* {
  box-sizing: border-box;
}

/* CSS Custom Properties */
:root {
  --main-bg: #4a4e4d;
  --top-menu-bg: rgb(151, 163, 241);
  --sub-menu-bg: rgb(176, 185, 245);
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 3rem auto;
  color: white;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#top-menu a:hover {
  background-color: var(--sub-menu-bg);
}

header,
#top-menu {
  position: relative;
}
#top-menu {
  z-index: 20;
}
#sub-menu {
  width: 100%;
  z-index: 10;
  transition: top 0.5s ease-out;
}
#sub-menu a:hover {
  background-color: var(--top-menu-bg);
}
nav a.active {
  background-color: var(--sub-menu-bg);
  color: var(--main-bg);
}

h1 {
  color: #4caf50;
}
h2 {
  color: #ebdede;
}
.content {
  margin-bottom: 20px;
}
ul {
  list-style-type: disc;
  margin-left: 20px;
}

.content1 {
  margin-bottom: 20px;
}

.content2 {
  margin-bottom: 20px;
}

.container {
  margin-top: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 200px;
  margin-right: 200px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.homeimg {
  margin-left: 225px;
}
